@import 'utility'
@import url('https://fonts.googleapis.com/css?family=Sigmar+One')
$Swine: 'Sigmar One'
$base-text-size: 16px
$swineColor: #e68199
$meepColor: #5f2f10

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $Swine
  background-image: url("http://img10.deviantart.net/bcec/i/2014/330/f/c/background__barn_2_by_estories-d87lnw2.png")
  background-size: cover


h1
  font-size: 75px
  color: $swineColor
  text-shadow: 7px 5px 2px $meepColor
  text-align: center

.Select
  color: $swineColor
  text-shadow: 0px 3px 1px $meepColor

#root > div
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  min-height: 100vh

table
  border-spacing: 0
  margin-left: auto
  margin-right: auto

  td
    height: 16px
    width: 16px
    line-height: 16px
    text-align: center
    font-weight: bold
    background-size: contain
    background-repeat: no-repeat
    background-position: center

    &.empty, &.numbered
      background-image: url("../images/revealed.png")

    &.flagged
      background-image: url("../images/flag.png"), url("../images/unrevealed.png")
      background-size: 60%, contain

    &.bomb
      background-image: url("../images/pig-cartoon.png"), url("../images/red.png")
      background-size: 60%, contain

    &.unrevealed
      background-image: url("../images/unrevealed.png")

    &.flag-bomb
      background-image: url("../images/pig-cartoon.png"), url("../images/green.png")
      background-size: 60%, contain

    &.empty, &.flagged, &.bomb, &.flag-bomb
      color: transparent

h2
  font-size: 30px
  color: $swineColor
  text-shadow: 7px 5px 2px $meepColor
  margin-left: 10px

p
  color: $meepColor
  text-shadow: 1px 2px 1px $swineColor
  margin-left: 20px
